.DS_Store
Thumbs.db
*.log
*.tmp
*.temp
*.kubeconfig
.kube/
.k3s/
.helm/
charts/
.vscode/
.idea/
*.swp
*.swo
node_modules/
__pycache__/
*.pyc
.env
.env.local
litmus/conf/test-litmus-chaos-enable.yml
chaos-mesh/rbac.yaml